body,
html,
#root {
	height: 100%;
	width: 100%;
}

header,

footer {
	overflow: hidden;
}

main{
	overflow: auto;
}

main {
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: inherit;
}
